In [3]:
import pandas as pd

In [12]:
from sqlalchemy import create_engine

In [ ]:
df = pd.read_parquet('yellow_tripdata_2025-01.parquet', engine='fastparquet')

In [9]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.00,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.00
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.10,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.00
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.10,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.00
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.20,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.00
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.80,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3475221,2,2025-01-31 23:01:48,2025-01-31 23:16:29,NaN,3.35,NaN,None,79,237,0,15.85,0.0,0.5,0.00,0.0,1.0,20.60,NaN,NaN,0.75
3475222,2,2025-01-31 23:50:29,2025-02-01 00:17:27,NaN,8.73,NaN,None,161,116,0,28.14,0.0,0.5,0.00,0.0,1.0,32.89,NaN,NaN,0.75
3475223,2,2025-01-31 23:26:59,2025-01-31 23:43:01,NaN,2.64,NaN,None,144,246,0,14.91,0.0,0.5,0.00,0.0,1.0,19.66,NaN,NaN,0.75
3475224,2,2025-01-31 23:14:34,2025-01-31 23:34:52,NaN,3.16,NaN,None,142,107,0,17.55,0.0,0.5,0.00,0.0,1.0,22.30,NaN,NaN,0.75
3475225,2,2025-01-31 23:56:42,2025-02-01 00:07:27,NaN,2.29,NaN,None,237,238,0,12.09,0.0,0.5,0.00,0.0,1.0,16.09,NaN,NaN,0.00

In [37]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [15]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [20]:
print(pd.io.sql.get_schema(df, name='yellow_tripdata_2025_01'))

CREATE TABLE "yellow_tripdata_2025_01" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL,
  "cbd_congestion_fee" REAL
)

In [33]:
df.head(n=0).to_sql(name='yellow_tripdata_2025_01', con=engine, if_exists='replace', index=False)

0

In [29]:
chunk_size = 100000

num_chunks = (len(df) + chunk_size - 1) // chunk_size

In [32]:
from time import time

In [39]:
for i in range(num_chunks):
    start_row = i * chunk_size
    end_row = min((i + 1) * chunk_size, len(df))

    chunk_df = df.iloc[start_row:end_row]

    print(f"Processing chunk {i+1}: rows {start_row} to {end_row-1}, shape: {chunk_df.shape}")

    start_time = time()

    chunk_df.to_sql(name='yellow_tripdata_2025_01', con=engine, if_exists='append', index=False)

    end_time = time()

    print(f"Processed in {end_time - start_time:.2f} seconds")

    print("-" * 30)

Processing chunk 1: rows 0 to 99999, shape: (100000, 20)
Processed in 13.76 seconds
------------------------------
Processing chunk 2: rows 100000 to 199999, shape: (100000, 20)
Processed in 19.35 seconds
------------------------------
Processing chunk 3: rows 200000 to 299999, shape: (100000, 20)
Processed in 35.64 seconds
------------------------------
Processing chunk 4: rows 300000 to 399999, shape: (100000, 20)
Processed in 15.61 seconds
------------------------------
Processing chunk 5: rows 400000 to 499999, shape: (100000, 20)
Processed in 71.12 seconds
------------------------------
Processing chunk 6: rows 500000 to 599999, shape: (100000, 20)
Processed in 15.71 seconds
------------------------------
Processing chunk 7: rows 600000 to 699999, shape: (100000, 20)
Processed in 40.75 seconds
------------------------------
Processing chunk 8: rows 700000 to 799999, shape: (100000, 20)
Processed in 46.50 seconds
------------------------------
Processing chunk 9: rows 800000 to 899999, shape: (100000, 20)
Processed in 14.51 seconds
------------------------------
Processing chunk 10: rows 900000 to 999999, shape: (100000, 20)
Processed in 16.55 seconds
------------------------------
Processing chunk 11: rows 1000000 to 1099999, shape: (100000, 20)
Processed in 14.37 seconds
------------------------------
Processing chunk 12: rows 1100000 to 1199999, shape: (100000, 20)
Processed in 38.35 seconds
------------------------------
Processing chunk 13: rows 1200000 to 1299999, shape: (100000, 20)
Processed in 45.18 seconds
------------------------------
Processing chunk 14: rows 1300000 to 1399999, shape: (100000, 20)
Processed in 41.03 seconds
------------------------------
Processing chunk 15: rows 1400000 to 1499999, shape: (100000, 20)
Processed in 44.48 seconds
------------------------------
Processing chunk 16: rows 1500000 to 1599999, shape: (100000, 20)
Processed in 42.70 seconds
------------------------------
Processing chunk 17: rows 1600000 to 1699999, shape: (100000, 20)
Processed in 30.93 seconds
------------------------------
Processing chunk 18: rows 1700000 to 1799999, shape: (100000, 20)
Processed in 13.99 seconds
------------------------------
Processing chunk 19: rows 1800000 to 1899999, shape: (100000, 20)
Processed in 21.45 seconds
------------------------------
Processing chunk 20: rows 1900000 to 1999999, shape: (100000, 20)
Processed in 35.00 seconds
------------------------------
Processing chunk 21: rows 2000000 to 2099999, shape: (100000, 20)
Processed in 28.26 seconds
------------------------------
Processing chunk 22: rows 2100000 to 2199999, shape: (100000, 20)
Processed in 28.09 seconds
------------------------------
Processing chunk 23: rows 2200000 to 2299999, shape: (100000, 20)
Processed in 25.89 seconds
------------------------------
Processing chunk 24: rows 2300000 to 2399999, shape: (100000, 20)
Processed in 25.97 seconds
------------------------------
Processing chunk 25: rows 2400000 to 2499999, shape: (100000, 20)
Processed in 26.26 seconds
------------------------------
Processing chunk 26: rows 2500000 to 2599999, shape: (100000, 20)
Processed in 26.29 seconds
------------------------------
Processing chunk 27: rows 2600000 to 2699999, shape: (100000, 20)
Processed in 26.82 seconds
------------------------------
Processing chunk 28: rows 2700000 to 2799999, shape: (100000, 20)
Processed in 25.50 seconds
------------------------------
Processing chunk 29: rows 2800000 to 2899999, shape: (100000, 20)
Processed in 28.52 seconds
------------------------------
Processing chunk 30: rows 2900000 to 2999999, shape: (100000, 20)
Processed in 26.00 seconds
------------------------------
Processing chunk 31: rows 3000000 to 3099999, shape: (100000, 20)
Processed in 24.69 seconds
------------------------------
Processing chunk 32: rows 3100000 to 3199999, shape: (100000, 20)
Processed in 13.11 seconds
------------------------------
Processing chunk 33: rows 3200000 to 3299999, shape: (100000, 20)
Processed in 17.27 seconds
------------------------------
Processing chunk 34: rows 3300000 to 3399999, shape: (100000, 20)
Processed in 11.63 seconds
------------------------------
Processing chunk 35: rows 3400000 to 3475225, shape: (75226, 20)
Processed in 8.64 seconds
------------------------------